section#page-container.sidebar-l.sidebar-o.side-scroll.header-navbar-fixed
  sidebar
  topbar
  main#main-container.main-content-wrap
    breadcrumbs
    basicstats
    .content.content-boxed
      .row.font-s13
        // Router Form
        .col-xs-12
          .block.block-themed
            .block-content
              router-form(router='$ctrl.router', action="'create'")