.si-arrow-down
  display none

.block-opt-hidden .si-arrow-up
  display none
.block-opt-hidden .si-arrow-down
  display inline-block

.voucher-text
  margin-left 10px
.button_add-voucher
  padding 10px
  .si
    line-height inherit

.si
  outline none

.table > thead > tr > th.table-vouchers__th
  padding-top 0

.table-vouchers
  margin-bottom 0