section#page-container.sidebar-l.sidebar-o.side-scroll.header-navbar-fixed
  sidebar
  topbar
  main#main-container.main-content-wrap(ui-view='')
rating-form#rating-modal.modal(tabindex='-1', role='dialog', aria-hidden='true', style='display: none;')
modal-form#modal-feedback-positive.modal(msg-type="'positive'", tabindex='-1', role='dialog', aria-hidden='true', style='display: none;')
modal-form#modal-feedback-negative.modal(msg-type="'negative'", tabindex='-1', role='dialog', aria-hidden='true', style='display: none;')

walk-tooltip