section#page-container.sidebar-l.sidebar-o.side-scroll.header-navbar-fixed
  sidebar
  topbar
  main#main-container.main-content-wrap(ui-view='')
rating-form#rating-modal.modal(tabindex='-1', role='dialog', aria-hidden='true', style='display: none;')
opinion-modal#modal-feedback.modal(tabindex='-1', role='dialog', aria-hidden='true', style='display: none;')

walk-tooltip