.block_inbox .glyphicon-star,
.block_inbox .glyphicon-star-empty
  color #f3b760

.block_inbox .glyphicon-star:hover,
.block_inbox .glyphicon-star-empty:hover
  color #9b6e35

.block_inbox .fa-sticky-note-o
  color #B4B4B4

.block_inbox .fa-sticky-note:hover,
.block_inbox .fa-sticky-note-o:hover
  color: #424242

.text-line-through
  text-decoration line-through

.table__row
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
  background-color #f6f6f6

.table__row_dark
  background-color #ededed

.table-hover > tbody > tr:hover.no-hover
  background-color inherit