.block.block-bordered#block-logn-menu
  .block-header
    ul.block-options
      li
        button(type='button', ng-click="$ctrl.refresh()")
          i.si.si-refresh
      li
        button(type="button" ng-click="$ctrl.slide()")
          i.si.si-arrow-up
          i.si.si-arrow-down
    h3.block-title
      i.fa.fa-sticky-note
      span.login-menu-text {{'login-menu.login-menu' | translate}}
  .block-content
    .row
      .col-xs-12
        a.block.button-pointer(ng-click='$ctrl.add()')
          .button_add-login-menu-item.bg-flat.clearfix
            i.si.si-plus.text-white.pull-right
            span.h5.font-w700.text-white {{'login-menu.add' | translate}}
    spinner(entity="'login-menu'", display="'block'")

    table.table.table-login-menu
      thead(ng-if="$ctrl.isloginMenu()")
        tr
          th.font-s12.table-login-menu__th {{'login-menu.url' | translate}}
          th.font-s12.table-login-menu__th {{'login-menu.title_ru' | translate}}
          th.font-s12.table-login-menu__th {{'login-menu.title_en' | translate}}
          th.font-s12.table-login-menu__th.text-center {{'login-menu.actions' | translate}}
      tbody
        tr.ng-scope(ng-repeat='menuItem in $ctrl.loginMenu')
          td.text-center
            input.form-control.form-control_xs.form-control_black(type='text', ng-model='menuItem.url')
          td.text-center
            input.form-control.form-control_xs.form-control_black(type='text', ng-model='menuItem.title_ru')
          td.text-center
            input.form-control.form-control_xs.form-control_black(type='text', ng-model='menuItem.title_en')
          td.text-center
            .btn-group
              button.btn.btn-xs.btn-default(ng-click='$ctrl.update(menuItem, $index)')
                i.fa.fa-pencil
              button.btn.btn-xs.btn-default(ng-click='$ctrl.remove(menuItem, $index)')
                i.fa.fa-times
