.content.content-boxed
  .row.font-s13
    .block
      .bg-image(style="background-image: url('images/backgound_profile.jpg');")
        .block-content.bg-primary-op.text-center.overflow-hidden
          .push-30-t.push.animated.fadeInDown
            img.img-avatar.img-avatar96.img-avatar-thumb(src='{{$ctrl.profile.avatar}}', alt='')
            button.btn.btn-xs.btn-danger.btn-rounded(ng-click="$ctrl.clearAvatar()" ng-class="{hidden: !$ctrl.profile.avatar}" style="vertical-align: top;")
              i.fa.fa-times
          .push-30.animated.fadeInUp
            h2.h4.font-w600.text-white.push-5 {{$ctrl.profile.username}}
    form(ng-submit='$ctrl.saveProfile()' name="profileForm")
      .block
        ul.nav.nav-tabs.nav-justified.push-20
          li(ng-class="{active: $ctrl.tab == 'profile-avatar'}")
            a(ng-click="$ctrl.setTab('profile-avatar')")
              i.fa.fa-user
              |  {{'profile-page.avatar' | translate}}
          li(ng-class="{active: $ctrl.tab == 'profile-personal'}")
            a(ng-click="$ctrl.setTab('profile-personal')")
              i.fa.fa-fw.fa-pencil
              |  {{'profile-page.personal' | translate}}
          li(ng-class="{active: $ctrl.tab == 'profile-password'}")
            a(ng-click="$ctrl.setTab('profile-password')")
              i.fa.fa-fw.fa-asterisk
              |  {{'profile-page.password.password' | translate}}
          li(ng-class="{active: $ctrl.tab == 'generate-promo-code'}")
            a(ng-click="$ctrl.setTab('generate-promo-code')")
              i.fa.fa-fw.fa-asterisk
              |  {{'profile-page.generate-promo-code' | translate}}
        .block-content
          .fade.in(ng-show="$ctrl.tab == 'profile-avatar'")
            .row.items-push
              .col-sm-8.col-sm-offset-2.form-horizontal
                .form-group(ng-class="{'has-success': $ctrl.upload_success}")
                  label.sr-only(for='profile_avatar')
                    | {{'profile-page.avatar' | translate}}
                  input#profile_avatar.form-control.input-sm(type='file', ng-upload='user_avatar')
                  img-preloader(img="'user_avatar'")
          .fade.in(ng-show="$ctrl.tab == 'profile-personal'")
            .row.items-push
              .col-sm-8.col-sm-offset-2.form-horizontal
                .form-group
                  .col-xs-5
                    label {{'profile-page.username' | translate}}
                    .form-control-static.font-w700 {{ $ctrl.profile.username }}
                .form-group
                  .col-xs-12
                    label(for='profile-email') {{'profile-page.email' | translate}}
                    input#profile-email.form-control.input-lg(ng-model='$ctrl.profile.email', type='text', name='profile-email', placeholder='Enter your email', value='{{$ctrl.profile.email}}')
          .fade.in(ng-show="$ctrl.tab == 'profile-password'")
            .row.items-push
              .col-sm-8.col-sm-offset-2.form-horizontal
                .form-group
                  .col-xs-12
                    label(for='profile-password') {{'profile-page.password.current-password' | translate}}
                    input#profile-password.form-control.input-lg(type='password', name='profile-password')
                hr
                .form-group
                  .col-xs-12
                    label(for='profile-password-new') {{'profile-page.password.new-password' | translate}}
                    input#profile-password-new.form-control.input-lg(type='password', name='profile-password-new')
                .form-group
                  .col-xs-12
                    label(for='profile-password-new-confirm') {{'profile-page.password.confirm' | translate}}
                    input#profile-password-new-confirm.form-control.input-lg(type='password', name='profile-password-new-confirm')
          .fade.in(ng-show="$ctrl.tab == 'generate-promo-code'")
            .row.items-push
              .col-sm-8.col-sm-offset-2.form-horizontal
                table.table.table-hover(ng-hide="$ctrl.promoCodes.length === 0")
                  thead
                    tr
                      th.text-center(style='width: 30%;')
                        | {{'profile-page.promo-code' | translate}}
                      th.text-center(style='width: 70%;')
                        | {{'profile-page.referral-link' | translate}}
                  tbody
                    tr(ng-repeat='promocode in $ctrl.promoCodes')
                      td.text-center
                        | {{ promocode.code }}
                      td.text-center
                        | {{ promocode.link }}
                      td.pull-right
                        a.btn(ngclipboard, data-clipboard-text="{{ promocode.link }}", tooltip-placement="top" uib-tooltip="{{ $ctrl.copyToolTip | translate }}", ng-click="$ctrl.changeCopyToolTip();")
                          i.fa.fa-copy.push-5-r
                      .block-content.text-center
                  a.btn.btn-sm.btn-primary.text-center(ng-click="$ctrl.generatePromoCode()")
                    | {{ 'profile-page.generate-promo-code' | translate }}
          .block-content.block-content-full.text-center
            button.btn.btn-sm(ng-class="[$ctrl.successfulUpdate ? 'animated bounceIn' : 'animated', profileForm.$dirty ? 'btn-primary' : 'btn-success']" type='submit')
              i.fa.fa-check.push-5-r
              |  {{'profile-page.save' | translate}}
