
<button data-toggle="dropdown" type="button" class="btn btn-link text-gray dropdown-toggle padding-6"><i class="fa fa-caret-down fa-caret-down_sidebar-lang"></i><img src="/images/{{$ctrl.lang}}.png" alt="English lang" class="lang-flag"/></button>
<ul class="dropdown-menu dropdown-menu_sidebar dropdown-menu-right font-s13 sidebar-mini-hide">
  <li><a href="javascript:void(0)" ng-click="$ctrl.changeLang('ru')"><i class="pull-right"><img src="/images/ru.png" alt="English lang" class="lang-flag lang-flag_small-drop"/></i><span class="font-w600">Русский</span></a></li>
  <li><a href="javascript:void(0)" ng-click="$ctrl.changeLang('en')"><i class="pull-right"><img src="/images/en.png" alt="English lang" class="lang-flag lang-flag_small-drop"/></i><span class="font-w600">English</span></a></li>
</ul>