
<section id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">
  <sidebar></sidebar>
  <topbar></topbar>
  <main id="main-container" class="main-content-wrap">
    <breadcrumbs></breadcrumbs>
    <basicstats></basicstats>
    <div class="content content-boxed">
      <div class="row font-s13">
        <!-- Router Form-->
        <div class="col-xs-12">
          <div class="block block-themed">
            <div class="block-content">
              <router-form router="$ctrl.router" action="'create'"></router-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</section>