stars-rating,
.stars-rating
  vertical-align -webkit-baseline-middle
  color #f3b760
  cursor pointer

.stars-rating-ui > span
  outline none

.stars-rating-wrap
  padding-bottom 15px

.stars-rating-block
  display inline-block
  font-size .9em
  text-align center