poll-activity
  display block

.poll-activity__title
  color: #657c88

.poll-activity__activity-resume
  background-color #97bbcd
  color: #fff

.poll-activity__activity-resume
  padding-top 10px

.poll-activity div.activity-resume__column
  margin-bottom 14px

.activity-resume__text-item
  font-size 14px

.activity-resume
  padding-left 4px
  padding-right 4px