
<button data-toggle="dropdown" type="button" class="btn btn-link text-gray dropdown-toggle padding-6"><i class="fa fa-caret-down fa-caret-down_sidebar-lang"></i><i class="fa fa-smile-o fa-smile-o_sidebar-feedback"></i></button>
<ul class="dropdown-menu dropdown-menu-left dropdown-menu_sidebar font-s13 sidebar-mini-hide">
  <li><a href="" data-toggle="modal" data-target="#modal-feedback-positive" type="button"><i class="fa fa-smile-o fa-smile-o_feedback fa-smile-o_green"></i><span class="font-w600">{{'opinions.feedback.like' | translate}}</span></a></li>
  <li><a href="" data-toggle="modal" data-target="#modal-feedback-negative" type="button"><i class="fa fa-frown-o fa-frown-o_feedback fa-frown-o_yellow"></i><span class="font-w600">{{'opinions.feedback.suggest' | translate}}</span></a></li>
</ul>