
<breadcrumbs></breadcrumbs>
<basicstats></basicstats>
<!--Page Content-->
<div class="content content-boxed">
  <div class="row font-s13">
    <div class="col-sm-12"><a ng-click="$ctrl.makeNew()" class="block block-link-hover2 button-pointer">
        <div class="block-content block-content-full bg-flat clearfix"><i class="si si-plus fa-2x text-white pull-right"></i><span class="h4 font-w700 text-white">{{'brands.add-button.add' | translate}}</span><span class="h4 text-white-op">
            {{'brands.add-button.new-brand' | translate}}
            </span></div></a></div>
    <div ng-repeat="brand in $ctrl.brands" class="col-sm-6 col-lg-4"><a ui-sref="dashboard.brand({brandId:brand.id})" class="block block-link-hover3">
        <brand-card brand="brand"></brand-card></a></div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-6 col-md-offset-4">
      <!--Disabled and Active States-->
      <div class="block-content">
        <pagination page="'brands'"></pagination>
      </div>
    </div>
  </div>
</div>