.excel-export
  margin-top 10px
  margin-bottom 20px
  text-align center
  & .excel-export__btn
    display inline-block
    padding 6px 12px
    font-size .72em
    cursor pointer
  & .fa-file-excel-o
    margin-left 6px
