breadcrumbs
basicstats
.content.content-boxed
  .row.font-s13
    // Router Card Col
    .col-sm-4.col-xs-12
      // Buttons block
      div
        // Button view locations
        // Button delete router
        a.block.block-link-hover2.block-margin-10(href='', ng-click='$ctrl.deleteRouter()')
          .block-content.block-content-full.bg-city.clearfix
            i.si.si-trash.fa-2x.text-white.pull-right
            span.h4.font-w700.text-white
              | {{'general.forms.delete-button.delete' | translate}}
            span.h4.text-white-op
              | {{'general.forms.delete-button.router' | translate}}
    // Router Form Col
    .col-xs-12
      .block.block-themed
        .block-content
          router-form(router='$ctrl.router', action="'update'")
