// Breadcrumbs
//- .content.bg-image.overflow-hidden(style="background-image: url('/images/photos/photo3@2x.jpg');")
//-   .push-50-t.push-15
//-     h1.h2.text-white.animated {{$ctrl.stateName | translate}}
