breadcrumbs
.content.content-narrow
  //- .row
    //- .col-xs-12
      //- | Раздел в разработке..
  
  .row
    .col-xs-12
      congratulations-promo
  .row
    .col-lg-6
      congratulations-form-email
    //- .col-lg-6
      //- congratulations-form-sms
