img.img-responsive.img-responsive_fix(ng-src='{{$ctrl.loginUrl}}/templates/{{$ctrl.brand.template}}/images/preview.png', alt='')
.block-content
  .push
    h4.push-10.card-promo-title.
      {{$ctrl.brand.title}}
    p.text-primary.font-w600.card-promo-text.
      {{$ctrl.brand.promo_text}}