table.table-responsive.js-table-sections.table.table-hover.table-condensed
  thead
    tr
      th.text-center(style='width: 80px;')
        i.si.si-user
      th.text-center(style='width: 35%;')
        | {{ 'manage-page.reward.username' | translate }}
      th.text-center(style='width: 35%;')
        | {{ 'manage-page.reward.email' | translate }}
      th.text-center(style='width: 30%;')
        | {{ 'manage-page.reward.promocode' | translate }}
  tbody.js-table-sections-header
    tr(ng-repeat='referral in $ctrl.referrals')
      td.text-center
        .img-container
          img.img-avatar.img-avatar48(ng-src='{{ referral.image }}', alt='{{ referral.username }}')
      td.text-center(style='width: 35%;')
        | {{ referral.username }}
      td.text-center(style='width: 35%;')
        | {{ referral.email }}
      td.text-center(style='width: 30%;')
        | {{ referral.promo_code.code }}
.content.text-center
  uib-pagination(items-on-page="$ctrl.itemsOnPage" total-items="$ctrl.totalItems" on-change="$ctrl.changePageHandler")
