
<breadcrumbs></breadcrumbs>
<basicstats></basicstats>
<div class="content content-boxed">
  <div class="row font-s13">
    <!-- Brand Card Col-->
    <div class="col-sm-5 col-xs-12">
      <!-- Brand card-->
      <div class="block">
        <div class="block-content block-content-full text-center">
          <brand-card brand="$ctrl.brand"></brand-card>
        </div>
      </div>
      <!-- Buttons block-->
      <div>
        <!-- Button view locations-->
        <!-- a.block.block-link-hover2.block-margin-10(ui-sref="dashboard.locations")--><a href="" ng-click="$ctrl.viewLocations()" class="block block-link-hover2 block-margin-10">
          <div class="block-content block-content-full bg-primary clearfix"><i class="si si-pointer fa-2x text-white pull-right"></i><span class="h4 font-w700 text-white">{{'brands.view-button.view' | translate}}</span><span class="h4 text-white-op">{{'brands.view-button.locations' | translate}}</span></div></a>
        <!-- Button create layout-->
        <!-- a.block.block-link-hover2.block-margin-10(ui-sref="dashboard.layouts({id: $ctrl.id}))-->
        <!-- .block-content.block-content-full.bg-flat.clearfix-->
        <!-- i.si.si-eye.fa-2x.text-white.pull-right-->
        <!-- span.h4.font-w700.text-white.-->
        <!-- {{'brands.view-button.view' | translate}}-->
        <!-- span.h4.text-white-op.-->
        <!-- {{'brands.view-button.layouts' | translate}}-->
        <!-- Button delete brand--><a href="" ng-click="$ctrl.deleteBrand()" class="block block-link-hover2 block-margin-10">
          <div class="block-content block-content-full bg-city clearfix"><i class="si si-trash fa-2x text-white pull-right"></i><span class="h4 font-w700 text-white">{{'brands.delete-button.delete' | translate}}</span><span class="h4 text-white-op">{{'brands.delete-button.brand' | translate}}</span></div></a>
      </div>
    </div>
    <!-- Brand Form Col-->
    <div class="col-sm-7 col-xs-12">
      <div class="block block-themed">
        <div class="block-content">
          <brand-form brand="$ctrl.brand" action="'update'"></brand-form>
        </div>
      </div>
    </div>
  </div>
</div>