.block.block-themed
  .block-header.bg-flat
    ul.block-options
      li
        i.si.si-envelope.color-white
    h3.block-title {{'congratulations.textblock.title' | translate}}
  .block-content
    p {{'congratulations.textblock.text' | translate}}
