
<section id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">
  <sidebar></sidebar>
  <topbar></topbar>
  <main id="main-container" ui-view="" class="main-content-wrap"></main>
</section>
<modal-form id="modal-feedback-positive" msg-type="'positive'" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;" class="modal"></modal-form>
<modal-form id="modal-feedback-negative" msg-type="'negative'" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;" class="modal"></modal-form>