.row.font-s13
  .block
    ul.nav.nav-tabs.nav-justified.push-20(data-js-tabs="", data-toggle='tabs')
      li.active
        a(href='#tab-manage-users', ng-click="$ctrl.tab('users')")
          i.fa.fa-user
          |  {{ 'manage-page.users' | translate}}
      li
        a(href='#tab-manage-objects', ng-click="$ctrl.tab('objects')")
          i.fa.fa-fw.fa-pencil
          |  {{'manage-page.objects' | translate}}
      li
        a(href='#tab-manage-referrals', ng-click="$ctrl.tab('referrals')")
          i.fa.fa-fw.fa-asterisk
          |  {{'manage-page.referrals' | translate}}
      li
        a(href='#tab-manage-rewards', ng-click="$ctrl.tab('rewards')")
          i.fa.fa-fw.fa-asterisk
          |  {{'manage-page.rewards' | translate}}
    .block-content.tab-content
      #tab-manage-users.tab-pane.fade.in.active
        .block.block-themed.block-rounded#account-stats-block
          .block-content.block-content-full
            accountstats(ng-if="$ctrl.tabName == 'users'")
      #tab-manage-objects.tab-pane.fade
        routerscontrol(ng-if="$ctrl.tabName == 'objects'")
        brandscontrol(ng-if="$ctrl.tabName == 'objects'")
        locationscontrol(ng-if="$ctrl.tabName == 'objects'")
        userscontrol(ng-if="$ctrl.tabName == 'objects'")
      #tab-manage-settings.tab-pane.fade
        .row.items-push
      #tab-manage-referrals.tab-pane.fade.in
        .block.block-themed.block-rounded#account-stats-block
          .block-content.block-content-full
            referralscontrol(ng-if="$ctrl.tabName == 'referrals'")
      #tab-manage-rewards.tab-pane.fade.in
        .block.block-themed.block-rounded#account-stats-block
          .block-content.block-content-full
            rewardscontrol(ng-if="$ctrl.tabName == 'rewards'")
