breadcrumbs
basicstats
.content.content-boxed
   .row
      .col-xs-12
        table.table.table-hover
          thead
            tr
              th.text-center(style='width: 34%;')
                | {{'office.reward' | translate}}
              th.text-center(style='width: 33%;')
                | {{'office.client' | translate}}
              th.text-center.sort(style='width: 33%;')
                | {{'office.payed_at' | translate}}
          tbody
            tr(ng-repeat='client in $ctrl.clients')
              td.text-center
                .img-container
                  img.img-avatar.img-avatar48(src='{{ client.image }}', alt='{{ client.username }}')
              td.text-center
                | {{ office.username }}
              td.text-center
                a(href='tel:{{ client.phone_number }}')
                  | {{ client.phone_number }}
              td.text-center
                a(href='mailto:{{ client.email }}')
                  | {{ client.email }}
              td.text-center
                | {{ client.visits }}
              td.text-center
                | {{ client.visits30 }}
              td.text-center
                | {{ client.updated_at | date: 'dd/MM/yy'}}
    .row
      .col-md-10.col-md-offset-1.text-center
        //Disabled and Active States
        .block-content
          uib-pagination(items-on-page="$ctrl.itemsOnPage" total-items="$ctrl.totalItems" on-change="$ctrl.changePageHandler")
