breadcrumbs

.content.content-narrow
  .row
    .col-xs-12
      | {{'general.under-construction' | translate}}

//- Page content
//- .content.content-boxed
//-   .row.font-s13
//-     .col-sm-3
//-       a.block.block-rounded(href='javascript:void(0);')
//-         .bg-image(style="background-image: url('images/backgound_profile.jpg');")
//-           .block-content.block-content-full.bg-black-op.ribbon.ribbon-modern.ribbon-crystal.ribbon-bottom
//-             .ribbon-box.font-w600.text-uppercase 500₽
//-             .text-center.push-50-t.push-50
//-               h3.text-white-op 200 sms pack
//-         //- .block-content.block-content-full.block-content-mini.bg-modern.text-white
//-           //- i.fa.fa-chevron-down.text-black-op
//-           //- |  -11% Sale
//-     .col-sm-3
//-       a.block.block-rounded(href='javascript:void(0);')
//-         .bg-image(style="background-image: url('images/default_background.png');")
//-           .block-content.block-content-full.bg-black-op.ribbon.ribbon-modern.ribbon-crystal.ribbon-bottom
//-             .ribbon-box.font-w600.text-uppercase 1200₽
//-             .text-center.push-50-t.push-50
//-               h3.text-white-op 500 sms pack
//-         //- .block-content.block-content-full.block-content-mini.bg-modern.text-white
//-           //- i.fa.fa-chevron-down.text-black-op
//-           //- |  -22% Sale
//-     .col-sm-3
//-       a.block.block-rounded(href='javascript:void(0);')
//-         .bg-image(style="background-image: url('images/backgound_profile.jpg');")
//-           .block-content.block-content-full.bg-black-op.ribbon.ribbon-modern.ribbon-crystal.ribbon-bottom
//-             .ribbon-box.font-w600.text-uppercase 2100₽
//-             .text-center.push-50-t.push-50
//-               h3.text-white-op 1000 sms pack
//-         //- .block-content.block-content-full.block-content-mini.bg-modern.text-white
//-           //- i.fa.fa-chevron-down.text-black-op
//-           //- |  -33% Sale
//-     .col-sm-3
//-       a.block.block-rounded(href='javascript:void(0);')
//-         .bg-image(style="background-image: url('images/default_background.png');")
//-           .block-content.block-content-full.bg-black-op.ribbon.ribbon-modern.ribbon-crystal.ribbon-bottom
//-             .ribbon-box.font-w600.text-uppercase 4000₽
//-             .text-center.push-50-t.push-50
//-               h3.text-white-op 2000 sms pack
//-         //- .block-content.block-content-full.block-content-mini.bg-modern.text-white
//-           //- i.fa.fa-chevron-down.text-black-op
//-           //- |  -11% Sale
