breadcrumbs
.content.content-narrow
  .row
    .col-xs-12
      | {{'general.under-construction' | translate}}
  // &lt;!&ndash; 100 sms pack &ndash;&gt;
  // <div class="row">
  // <div class="col-sm-4">
  // <a class="block block-rounded" href="javascript:void(0);">
  // <div class="bg-image" style="background-image: url('images/backgound_profile.jpg');">
  // <div class="block-content block-content-full bg-black-op ribbon ribbon-modern ribbon-crystal ribbon-bottom">
  // <div class="ribbon-box font-w600 text-uppercase">10$</div>
  // <div class="text-center push-50-t push-50">
  // <h3 class="text-white-op">100 sms pack</h3>
  // </div>
  // </div>
  // </div>
  // <div class="block-content block-content-full block-content-mini bg-modern text-white">
  // <i class="fa fa-chevron-down text-black-op"></i> -11% Sale
  // </div>
  // </a>
  // </div>
  // &lt;!&ndash; 500 sms pack &ndash;&gt;
  // <div class="col-sm-4">
  // <a class="block block-rounded" href="javascript:void(0);">
  // <div class="bg-image" style="background-image: url('images/default_background.png');">
  // <div class="block-content block-content-full bg-black-op ribbon ribbon-modern ribbon-crystal ribbon-bottom">
  // <div class="ribbon-box font-w600 text-uppercase">10$</div>
  // <div class="text-center push-50-t push-50">
  // <h3 class="text-white-op">500 sms pack</h3>
  // </div>
  // </div>
  // </div>
  // <div class="block-content block-content-full block-content-mini bg-modern text-white">
  // <i class="fa fa-chevron-down text-black-op"></i> -22% Sale
  // </div>
  // </a>
  // </div>
  // &lt;!&ndash; 100 sms pack &ndash;&gt;
  // <div class="col-sm-4">
  // <a class="block block-rounded" href="javascript:void(0);">
  // <div class="bg-image" style="background-image: url('images/backgound_profile.jpg');">
  // <div class="block-content block-content-full bg-black-op ribbon ribbon-modern ribbon-crystal ribbon-bottom">
  // <div class="ribbon-box font-w600 text-uppercase">10$</div>
  // <div class="text-center push-50-t push-50">
  // <h3 class="text-white-op">1000 sms pack</h3>
  // </div>
  // </div>
  // </div>
  // <div class="block-content block-content-full block-content-mini bg-modern text-white">
  // <i class="fa fa-chevron-down text-black-op"></i> -33% Sale
  // </div>
  // </a>
  // </div>
  // </div>
