label.css-input.switch.switch-sm.switch-primary.pull-right(style="margin: 0;")
  input(type="checkbox", ng-model='$ctrl.isActive', ng-change='$ctrl.change()')
  span(style="margin: 0; margin-left: 20px;")
| {{'walk-tooltip.switch' | translate}}