spinner
  display inline-block
  height 0
  opacity 0
  overflow hidden
  transition all 200ms ease-in-out 0s

.spinner_show
    height 49px
    opacity 1

.spinner_block
  display block
  text-align center