ul.block-options
  li
    button(type='button', ng-click="$ctrl.refresh()")
      i.si.si-refresh
  li
    button(type="button" ng-click="$ctrl.slide()")
      i.si.si-arrow-up
      i.si.si-arrow-down