.login-component,
.request-password
  display block
  background-attachment fixed
  background-image linear-gradient(rgba(37, 40, 47, .6), rgba(37, 40, 47, 0.8)), url(/images/dashboard_auth_background.jpg)
  background-position-x center
  background-size cover
  min-height 100%