
<select id="{{$ctrl.selectId}}" name="category" ng-model="$ctrl.options.category_id" size="1" class="form-control form-control_black">
  <option value="1">Автовокзалы</option>
  <option value="2">Автомобильные мойки</option>
  <option value="3">Автомобильные парковки</option>
  <option value="4">Автосалоны</option>
  <option value="5">Автосервисы</option>
  <option value="6">Автотехпомощь/эвакуатор</option>
  <option value="7">Автошколы</option>
  <option value="8">АЗС</option>
  <option value="9">Аквапарки</option>
  <option value="10">Аптеки</option>
  <option value="11">Ателье по пошиву одежды</option>
  <option value="12">Аэропорты</option>
  <option value="13">Бани</option>
  <option value="14">Бары и пабы</option>
  <option value="15">Бассейны</option>
  <option value="16">Бильярдные клубы</option>
  <option value="17">Боулинг и бильярд клубы</option>
  <option value="18">Ветеринарные клиники</option>
  <option value="19">Визажисты/стилисты</option>
  <option value="20">Гипермаркеты</option>
  <option value="21">Гомеопатические аптеки</option>
  <option value="22">Гостиницы</option>
  <option value="23">Дежурные аптеки</option>
  <option value="24">Дельфинарии</option>
  <option value="25">Детские сады</option>
  <option value="26">Дома и базы отдыха</option>
  <option value="27">Железнодорожные вокзалы</option>
  <option value="28">Загородный отдых</option>
  <option value="29">Закусочные</option>
  <option value="30">Зоомагазины</option>
  <option value="31">Зоопарки</option>
  <option value="32">Интернет-провайдеры</option>
  <option value="33">Кафе и Кофейни</option>
  <option value="34">Кинотеатры</option>
  <option value="35">Книжные магазины</option>
  <option value="36">Кондитерские</option>
  <option value="37">Косметологические центры</option>
  <option value="38">Ломбарды</option>
  <option value="39">Музеи</option>
  <option value="40">Нотариусы</option>
  <option value="41">Ночные клубы</option>
  <option value="42">Общежития</option>
  <option value="43">Парикмахерские</option>
  <option value="44">Пиццерии</option>
  <option value="45">Прачечные</option>
  <option value="46">Развлекательные центры</option>
  <option value="47">Рестораны быстрого питания</option>
  <option value="48">Рестораны</option>
  <option value="49">Рукодельные магазины</option>
  <option value="50">Салоны красоты</option>
  <option value="51">Салоны оптики</option>
  <option value="52">Санатории</option>
  <option value="53">Свадебные салоны</option>
  <option value="54">Столовые</option>
  <option value="55">Службы доставки еды</option>
  <option value="56">Солярии</option>
  <option value="57">Спа-салоны</option>
  <option value="58">Спорт-бары</option>
  <option value="59">Стоматологические клиники</option>
  <option value="60">Страховые компании</option>
  <option value="61">Супермаркеты</option>
  <option value="62">Суши-бары</option>
  <option value="63">Такси</option>
  <option value="64">Тату-салоны</option>
  <option value="65">Театры</option>
  <option value="66">Торговые центры</option>
  <option value="67">Туристические фирмы</option>
  <option value="68">Туроператоры</option>
  <option value="69">Фитнес-центры</option>
  <option value="70">Фотоуслуги</option>
  <option value="71">Химчистки</option>
  <option value="72">Чистка ковров</option>
  <option value="73">Шиномонтаж</option>
  <option value="74">Школы и центры йоги</option>
  <option value="75">Школы танцев</option>
</select>